{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Guest List</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.first_name }}</td>
            <td>{{ guest.last_name }}</td>
            <td>{{ guest.email }}</td>
            <td>{{ guest.phone_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
