{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Hotel List</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Rating</th>
            <th>Contact Number</th>
        </tr>
    </thead>
    <tbody>
        {% for hotel in hotels %}
        <tr>
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.location }}</td>
            <td>{{ hotel.rating }}</td>
            <td>{{ hotel.contact_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
